.expense {
    display: flex;
    border-radius: 12px;
    border: 1px solid #2a2a2a;
    background-color: rgb(255, 255, 255);
    width: 40%;
    min-width: 400px;
    margin: auto;
    padding: 5px;
}

.expense-type {
    width: max-content;
    background-color: #ffcba4;
    margin: 0px 0px 0px 10%;
    border-radius: 12px;
    border: 1px solid #2a2a2a;
    padding: 1%;
}

.expense-description {
    width: max-content;
    background-color: #ffcba4;
    margin: 0px 8px 0px 10%;
    border-radius: 12px;
    border: 1px solid #2a2a2a;
    padding: 1%;
}

.expense-price {
    margin: 30px 0px 0px 0px;
    background-color: #ffcba4;
    margin-left: auto;
    width: max-content;
    height: max-content;
    border-radius: 12px;
    border: 1px solid #2a2a2a;
    padding: 1%;
}