.expense {
    position: relative;
    display: flex;
    border-radius: 12px;
    border: 1px solid #2a2a2a;
    background-color: rgb(255, 255, 255);
    width: 40%;
    margin: auto;
    padding: 5px;
}

.expense-category {
    position: absolute;
    left: 100px;
    top: 10%;
}

.expense-comment {
    position: absolute;
    left: 300px;
    top: 10%;
}

.expense-price {
    position: absolute;
    right: 0;
    bottom: 40%;
    padding-right: 3%;
    border-radius: 12px;
    border: 1px solid #2a2a2a;
    padding: 1%;
    background-color: #f6e8ca;
}