.expense {
    display: flex;
    border-radius: 12px;
    border: 1px solid #2a2a2a;
    background-color: rgb(255, 255, 255);
    width: 40%;
    min-width: 450px;
    margin: 1% auto auto auto;
    padding: 5px;
    
}

.expense-type {
    font-weight: bold;
    text-align: center;
    width: 20%;
    background-color: #ffcba4;
    margin: 0px 0px 0px 5%;
    border-radius: 12px;
    border: 1px solid #2a2a2a;
    padding: 1%;
}

.expense-type-container {
    font-weight: normal;
    text-align: center;
    margin-top: 15%;
    /* width: 20%; */
}

.expense-description {
    font-weight: bold;
    text-align: center;
    width: 33%;
    background-color: #ffcba4;
    margin-left: auto;
    margin: 0px 5% 0px 5%;
    border-radius: 12px;
    border: 1px solid #2a2a2a;
    padding: 1%;
}

.expense-description-text {
    font-weight: normal;
    max-width: 10rem;
    max-height: 3.6rem;
    overflow: hidden;
}

.expense-price {
    text-align: center;
    margin: 30px 0px 0px 100px;
    padding-left: 1%;
    background-color: #ffcba4;
    margin-left: auto;
    width: 25%;
    height: max-content;
    border-radius: 12px;
    border: 1px solid #2a2a2a;
    padding: 1%;
}
